# GitHub Actions Workflow with MATLAB Actions
#
# For a general overview of GitHub Actions, see
# https://docs.github.com/en/actions
#
# For using MathWorks products in GitHub Actions, see
# https://github.com/matlab-actions/overview
#
# For details about the syntax of this file, see
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions

# Copyright 2021-2025 The MathWorks, Inc.

name: CI using MATLAB

on:
  push:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - '**.png'
      - '**.svg'
      - '**.txt'
      - '**.xml'

  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - '**.png'
      - '**.svg'
      - '**.txt'
      - '**.xml'

jobs:

  job-check-project:
    runs-on: ubuntu-latest
    steps:

      - name: Check out repository
        uses: actions/checkout@v4

      - name: Setup MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          release: R2024b

      - name: Run tests
        uses: matlab-actions/run-command@v2
        with:
          command: openProject(pwd); BEVProjectRuntestsCheckProject;

  job-run-tests:

    # This job starts only if the previous job is successful.
    needs: job-check-project

    runs-on: ubuntu-latest
    steps:

      - name: Check out repository
        uses: actions/checkout@v3

      - name: Setup MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          release: R2024b
          cache: true
          products: |
            Simscape
            Simulink
            Simscape_Fluids
            Stateflow
            Simscape_Driveline
            Simscape_Electrical
            Powertrain_Blockset
            Simscape_Battery
      - name: Run tests
        uses: matlab-actions/run-command@v2
        with:
          command: openProject(pwd); BEVProjectTests;
